# MacOS
.DS_Store
.AppleDouble
.LSOverride

# ignore /twitter-datasets repo
**/twitter-datasets
# everything data related
Data

# hide individual venv files
environment.yml
.idea


# environment helper files
__pycache__

