# everything data related
Data
sample_submission.csv
**/twitter-datasets
LectureBaselines/Embeddings/
LectureBaselines/Vocabs/

# environments
*venv*
.*venv*

# all models
Pretrained_Models
Models

# output files
Output

# hide individual venv files
environment.yml
.idea
venv
**/__pycache__

# and individual folders
Auguste
Marc

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/
