# MacOS
.DS_Store
.AppleDouble
.LSOverride

# ignore /twitter-datasets repo
**/twitter-datasets
# everything data related
Data

# hide individual venv files
environment.yml
.idea

# everything pretrained models related
Pretrained

# environment helper files
__pycache__

